body {
    font-family: Arial, sans-serif;
    background: #010101;
    direction: ltr;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: white;
    border: 1px solid #010101;
    border-radius: 14px;
    box-shadow: 0 0 15px #c1c1e1;
    padding: 18px 24px;
}

h2 {
    color: #010101;
    margin-top: 12px;
    margin-bottom: 12px;
}

.form-section, .rooms-section {
    border: 2px solid #010101;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
    background: #f1f1f1;
}

label {
    margin-right: 12px;
    color: #010101;
    font-weight: 500;
}

input, select {
    margin-bottom: 8px;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #567;
    width: 210px;
    font-size: 15px;
}

#logoPreview {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.rooms-section {
    background: #f7fafc;
}
.room-panel {
    border: 1px solid #42509e;
    background: #eeeeff;
    border-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 15px;
    width: 100%;
}

.room-panel label {
    display: inline-block;
    margin-right: 7px;
}
.room-panel input,
.room-panel select {
    width: 150px;
    margin-left: 4px;
}
.guest-group {
    margin-bottom: 7px;
}
.guest-group select,
.guest-group input {
    width: 80px;
    margin-left: 3px;
}

button {
    background: #e5aa2a;
    color: white;
    padding: 8px 14px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 15px;
    margin-right: 9px;
    margin-bottom: 9px;
}
button:hover {
    background: #f3daa3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #ecf0ff;
    margin-top: 18px;
}
th, td {
    border: 1px solid #e5aa2a;
    padding: 9px;
    font-size: 16px;
    text-align: center;
}
th {
    background: #e5aa2a;
    color: #fff;
}
